<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Email</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #106ce6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            text-align: center;
            width: 600px;
        }

        .check-icon {
            font-size: 48px;
            color: #4CAF50;
            margin-bottom: 20px;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            font-size: 17px;
            line-height: 1.5;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
        }

        button {
            background-color: #1a73e8;
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
        }

        button:hover {
            background-color: #1256b7;
        }

        .verify-icon {
            width: 170px;
        }

        button a {
            color: #fff;
            text-decoration: none;
        }
    </style>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <img class="verify-icon" src="https://cdn-icons-png.freepik.com/512/9724/9724266.png" alt="">
        <br>
        <br>
        <i class="check-icon fas fa-check-circle"></i>
        <h2>Your Email Verified</h2>
        <p>Your Email has been verified. Please return to the login page to access your account.</p>
        <button><a href="/">Login</a></button>
    </div>
</body>
</html>
